body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    
}

.header-links a {
    font-size: 18px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.section-1 {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
}

.hero-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

 #profile-pic {
     height: auto;
     width: 600px
 }